.big-button{
  background: $purple;
  border: none;
  border-bottom: .6rem solid darken($purple,7%);
  color: white;
  font-weight: bold;
  font-size: $three-point-three;
  margin-bottom: $four-point-eight;
  padding: 2.4rem;
  width: 100%;
}


.big-button:disabled{
  opacity: .5;
}


//Button

.button{
  background: $purple;
  border:none;
  border-bottom: .3rem solid darken($purple,7%);
  color: wheat;
  font-weight: 500;
  padding: $s-size;
}


//

.button--link{
  background: none;
  border:none;
  color:$off-white;
  padding: 0;
}
