// Colors

$off-black: #20222b;
$dark-blue:#333745;
$off-white: #a5afd7;
$purple:#8357cf;

$light-blue:#4645be;



//space

$s-size:1.2rem;

$one-point-six: 1.6rem;
$three-point-three: 3.1rem;
$four-point-eight: 4.8rem;

